.carditem {
    position: absolute;
    right: 40%;
    top: 20%;
}

.rate {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

/* .ratestart {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}