.title {
    /* margin-top: 25px; */
    font-size: 24px;
    font-weight: initial;
    line-height: 1.1;
}

.title1 {
    margin-top: 10%;
    font-size: 24px;
    font-weight: initial;
    line-height: 1.1;
}

.wrapper {
    background-color: rgba(245, 245, 245, 100);
    padding: 35px;
    margin-top: 26px;
}